body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #07857e;
}

a {
  color: #07857e;
}




body {
  display: flex;
  flex-direction: column;
}

#messages {
  background-color: rgb(176, 232, 245);
  max-height: 60vh;
  overflow-y: auto;
  border: darkgray 3px inset;

}

#send_input {
  display: flex;
  background-color: rgb(176, 232, 245);

}

#message {
  flex-grow: 5;
  background-color: rgb(176, 232, 245);
}


.chat_message {
  padding: 0.5em 2px;
  background-color: rgb(176, 232, 245);
}

.me {
  text-align: right;
  color: blueviolet;
}